{%extends "base.html"%}
	{% block title %}
	HOME
	{% endblock %}

	{% block content %}
<br>
{% for date in date_list %}

<h1>
	<a href="{{url_for('datePage',date=date[0])}}" id="{{date[0]}}">{{date[0]}}</a>
</h1>
<br>
{% if loop.index0==0 %}
{% for item in post %}
<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<a href="{{url_for('postPage',postId=item['id'])}}">{{item['title']}}</a>
				<a class="pull-right" href="{{url_for('userPage',authorId=item['authorId'])}}">{{item['user_name']}}</a>
			</h4>
		</div>

		<div class="panel-body">

			<div>{{item['body']|safe}}</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
{% endfor %}

	{% endblock %}